@use "../../global" as *;

.news-detail {
  padding-top: 105px;
  @include mq(sp_1) {
    padding-top: 85px;
  }
  &-wrapper {
    position: relative;
    &__ttl {
      width: 100%;
      margin: 0 0 15% 0;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 23%;
        width: 89.5%;
        height: 100%;
        padding: 0 0 10% 0;
        background-color: $main-blue;
        margin: 0 auto;
        -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
                clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
        @include mq(pc_max) {
          // left: 43%;
          left: 39.5%;
          width: 69.5%;
        }
        @include mq(tab) {
          left: 50%;
          width: 55.5%;
        }
        @include mq(sp_1) {
          left: 70%;
          width: 35.5%;
        }
        @include mq(sp_2) {
          left: 75%;
          width: 30.5%;
        }
      }
      .ttl {
        color: $main-blue;
      }
      .ttl-main {
        border-bottom: 3px solid $main-blue;
      }
    }
    &__con {
      width: 100%;
      &__cont {
        width: 80%;
        padding: 0 0 1% 0;
        margin: 0 auto;
        border-bottom: 1px dotted #333;
        @include mq(pc_max) {
          width: 90%;
        }
        @include mq(sp_1) {
          width: 100%;
        }
        &__date {
          margin-right: 10%; 
          .notice {
            border: solid 1px #333;
            border-radius: 50px 50px 50px 50px;
            text-align: center;
          }
        }
        &__txt {
          .title {
            font-size: 2rem;
            margin: 0 0 5% 0;
            @include mq(sp_1) {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .pagination {
      height: 10%;
      font-size: 1.2rem;
      margin: 5% 0 10% 0;
      padding: 3.125rem 1.5rem 0 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @include mq(sp_1) {
        font-size: 1rem;
      }
      li {
        font-size: 1.25rem;
        margin: 0 3rem 0 3rem;
        @include mq(tab) {
          font-size: 1rem;
          margin: 0 2.5rem 0 2.5rem;
        }
        @include mq(sp_1) {
          font-size: 1rem;
          margin: 0 2rem 0 2rem;
        }
        @include mq(sp_2) {
          margin: 0 1.5rem 0 1.5rem;
        }
        a {
          width: 100%;
          color: #333;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .all {
        letter-spacing: 10px;
        font-size: 1.25rem;
        width: 100%;
        @include mq(sp_1) {
          font-size: 1rem;
        }
      }
    }
  }
}