$main-blue: #005880;
$sub-blue: rgba(0, 88, 128, 0.3);
$con-top-blue: #006A9A;
$grey-sub: #F7F7F7;
$grey-footer: #F9F9FA;
$grey-contact: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);